SDK&Demo_V2.5.1.230517/
.idea/
.vs/
CameraCodeFW151/.vs/
CameraCodeFW151/x64/
patterns/
*.csv
*.xlsx
*.dll
*.pyd
*.txt
PGCode/
PyQt5Demo/
__pycache__/
SDKvenv/
venv/
CameraColorimeter/
RGB_Grayscale_Images